In [1]:
from sklearn import tree
import pandas as pd
import os
import numpy as np
import pickle, joblib

In [2]:
#import our train and test csv
train_path = os.path.join("Data/train.csv")
train_df = pd.read_csv(train_path)

test_path = os.path.join("Data/test.csv")
test_df = pd.read_csv(test_path)

In [3]:
train_df.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [4]:
train_df["satisfaction"].value_counts()

neutral or dissatisfied    58697
satisfied                  44897
Name: satisfaction, dtype: int64

In [5]:
test_df.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,...,5,5,5,5,2,5,5,50,44.0,satisfied
1,1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,...,4,4,4,4,3,4,5,0,0.0,satisfied
2,2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,...,2,4,1,3,2,2,2,0,0.0,neutral or dissatisfied
3,3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,...,1,1,1,1,3,1,4,0,6.0,satisfied
4,4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,...,2,2,2,2,4,2,4,0,20.0,satisfied

In [30]:
print(test_df.iloc[3,:])

Gender                                          Male
Customer Type                         Loyal Customer
Age                                               44
Type of Travel                       Business travel
Class                                       Business
Flight Distance                                 3377
Inflight wifi service                              0
Departure/Arrival time convenient                  0
Ease of Online booking                             0
Gate location                                      2
Food and drink                                     3
Online boarding                                    4
Seat comfort                                       4
Inflight entertainment                             1
On-board service                                   1
Leg room service                                   1
Baggage handling                                   1
Checkin service                                    3
Inflight service                                   1
Cleanliness                                        4
Departure Delay in Minutes                         0
Arrival Delay in Minutes                           6
satisfaction                                       1
Name: 3, dtype: object

In [6]:
test_df = test_df.dropna()

In [7]:
train_df = train_df.dropna()

In [8]:
#convert the satisfaction column to 1's and 0's in train_df
train_df["satisfaction"].replace({"satisfied":1, "neutral or dissatisfied":0}, inplace=True)

In [9]:
#convert the satisfaction column to 1's and 0's in test_df
test_df["satisfaction"].replace({"satisfied":1, "neutral or dissatisfied":0}, inplace=True)

In [10]:
#drop columns in train_df
train_df = train_df.drop(columns=["Unnamed: 0", 'id'])

#assign the y_train data
y_train = np.array(train_df["satisfaction"]).reshape(-1,1)

In [11]:
#convert categorical data to binary data
X_train = pd.get_dummies(train_df)

In [12]:
#drop the target column in the train _df
X_train = X_train.drop(columns=["satisfaction"])

In [31]:
#view X_train
X_train.iloc[0,:]

Age                                   13.0
Flight Distance                      460.0
Inflight wifi service                  3.0
Departure/Arrival time convenient      4.0
Ease of Online booking                 3.0
Gate location                          1.0
Food and drink                         5.0
Online boarding                        3.0
Seat comfort                           5.0
Inflight entertainment                 5.0
On-board service                       4.0
Leg room service                       3.0
Baggage handling                       4.0
Checkin service                        4.0
Inflight service                       5.0
Cleanliness                            5.0
Departure Delay in Minutes            25.0
Arrival Delay in Minutes              18.0
Gender_Female                          0.0
Gender_Male                            1.0
Customer Type_Loyal Customer           1.0
Customer Type_disloyal Customer        0.0
Type of Travel_Business travel         0.0
Type of Travel_Personal Travel         1.0
Class_Business                         0.0
Class_Eco                              0.0
Class_Eco Plus                         1.0
Name: 0, dtype: float64

In [14]:
#view y_train
y_train

array([[0],
       [0],
       [1],
       ...,
       [0],
       [0],
       [0]], dtype=int64)

In [15]:
#drop columns
test_df = test_df.drop(columns=["Unnamed: 0", 'id'])

#establish the y_test data
y_test = np.array(test_df["satisfaction"]).reshape(-1,1)

In [16]:
#convert categorical data to binary data
X_test = pd.get_dummies(test_df)

In [17]:
#drop target column in X_test data
X_test = X_test.drop(columns=["satisfaction"])

In [32]:
X_test.iloc[0,:]

Age                                   52.0
Flight Distance                      160.0
Inflight wifi service                  5.0
Departure/Arrival time convenient      4.0
Ease of Online booking                 3.0
Gate location                          4.0
Food and drink                         3.0
Online boarding                        4.0
Seat comfort                           3.0
Inflight entertainment                 5.0
On-board service                       5.0
Leg room service                       5.0
Baggage handling                       5.0
Checkin service                        2.0
Inflight service                       5.0
Cleanliness                            5.0
Departure Delay in Minutes            50.0
Arrival Delay in Minutes              44.0
Gender_Female                          1.0
Gender_Male                            0.0
Customer Type_Loyal Customer           1.0
Customer Type_disloyal Customer        0.0
Type of Travel_Business travel         1.0
Type of Travel_Personal Travel         0.0
Class_Business                         0.0
Class_Eco                              1.0
Class_Eco Plus                         0.0
Name: 0, dtype: float64

In [18]:
#scale the x data
# from sklearn.preprocessing import StandardScaler
# X_scaler = StandardScaler().fit(X_train)

# X_train_scaled = X_scaler.transform(X_train)
# X_test_scaled = X_scaler.transform(X_test)

In [19]:
#create decision tree model and fit the train data
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)

In [20]:
#score the most with test data
clf.score(X_test, y_test)

0.9468968447070637

In [21]:
#establish the feature names for random forest importance metrics
feature_names = X_test.columns

In [22]:
#create model using random forest and fit with train data
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)

<ipython-input-22-99a34bf3286e>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf = rf.fit(X_train, y_train)

In [23]:
#score the model
rf.score(X_test, y_test)

0.9639670953539566

In [24]:
#get feature importances
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.14905325646114043, 'Online boarding'),
 (0.1358956599535066, 'Inflight wifi service'),
 (0.07012528859956382, 'Class_Business'),
 (0.06026447827046026, 'Type of Travel_Business travel'),
 (0.0561807243325155, 'Inflight entertainment'),
 (0.056126887090699, 'Type of Travel_Personal Travel'),
 (0.04750597998829307, 'Seat comfort'),
 (0.04429017129820095, 'Class_Eco'),
 (0.036045923323600904, 'Ease of Online booking'),
 (0.0359656272354176, 'Leg room service'),
 (0.03098073579070463, 'On-board service'),
 (0.02923954992895679, 'Flight Distance'),
 (0.028608321959089134, 'Age'),
 (0.02751827204925668, 'Cleanliness'),
 (0.027138245290293402, 'Customer Type_disloyal Customer'),
 (0.026721768978520126, 'Customer Type_Loyal Customer'),
 (0.0246396028132402, 'Baggage handling'),
 (0.023997266734956016, 'Checkin service'),
 (0.022119231948977688, 'Inflight service'),
 (0.013648784335157758, 'Departure/Arrival time convenient'),
 (0.013629303498389674, 'Gate location'),
 (0.011606660759616473, 'Arrival Delay in Minutes'),
 (0.010446468816451688, 'Departure Delay in Minutes'),
 (0.009922017900862539, 'Food and drink'),
 (0.0028748551492455963, 'Gender_Female'),
 (0.002867277794593049, 'Gender_Male'),
 (0.0025876396982904863, 'Class_Eco Plus')]

In [25]:
predictions = rf.predict(X_test)

In [26]:
predictions.reshape(-1,1)

array([[1],
       [1],
       [0],
       ...,
       [0],
       [1],
       [0]], dtype=int64)

In [27]:
y_test_ = np.array(test_df["satisfaction"])
pd.DataFrame({"Prediction": predictions, "Actual": y_test_})

       Prediction  Actual
0               1       1
1               1       1
2               0       0
3               1       1
4               0       1
...           ...     ...
25888           0       0
25889           1       1
25890           0       0
25891           1       1
25892           0       0

[25893 rows x 2 columns]

# Save Model

In [28]:
#import pickle and define a function to be called to save the random forest model
import pickle
def save_model(model_name, model):
    with open(str(model_name), 'wb') as f:
        pickle.dump(model, f)

In [29]:
#save the random forest model
save_model('gcloud_app/random_forest.pkl', rf)

# Load Model